---
layout: cv_default
---

<div class="profile {% if page.featured == true %} featured {% endif %}">
  {% if site.author_image != "" %}<img src="{{ site.author_image }}" class="profileimage" alt="user">{% endif %}
  <h4>{{ site.author_name }}</h4>
  <ul>
    {% if site.linkedin_url != '' %}
    <li><a href="{{ site.linkedin_url }}" class="smallsocialbutton linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    {% endif %}
    {% if site.twitter_url != '' %}
    <li><a href="{{ site.twitter_url }}" class="smallsocialbutton twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
    {% endif %}
    {% if site.facebook_url != '' %}
    <li><a href="{{ site.facebook_url }}" class="smallsocialbutton facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
    {% endif %}
    {% if site.github_url != '' %}
    <li><a href="{{ site.github_url }}" class="smallsocialbutton github" target="_blank"><i class="fa fa-github"></i></a></li>
    {% endif %}
    {% if site.instagram_url != '' %}
    <li><a href="{{ site.instagram_url }}" class="smallsocialbutton instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
    {% endif %}
    <li><a href="{{ site.url }}/feed.xml" class="smallsocialbutton rss" target="_blank"><i class="fa fa-rss"></i></a></li>
  </ul>
  <p>{{ site.author_bio }}</p>
  <hr>
  <ul>
  {% if site.phone != '' %}
    <li><a class="smallcontactbutton contact"><i class="fa fa-phone"></i></a><span class="contact-details">07775682459</span></li>
  {% endif %}
  {% if site.email != '' %}
    <li><a class="smallcontactbutton contact"><i class="fa fa-envelope-o"></i></a><span class="contact-details">knoxjeffrey@outlook.com</span></li>
  {% endif %}
  </ul>
</div>

<section class="posts postindex wrapper">
  <h2>Summary</h2>

  <div class="triangle-border top">
    <p>I have a degree in Computer and Management Science but upon finishing I had an opportunity to work with an exciting new medical device technology. I re-trained and ran my own clinic for 11 years and combined that with research work on a hand held device for improving spinal biomechanics.</p>

    <p>I sold the clinic in February 2015 but had been working with several technologies and programming languages for several months at that point. My main focus has been building web applications with Ruby on Rails and React with Redux</p>
  </div>


  <h2>Projects</h2>

  <ul class="cbp_tmtimeline">
    <li>
      <time class="cbp_tmtime" datetime="2015"><span>2016</span> <span>Jul</span></time>
      <div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
      <div class="cbp_tmlabel">
        <h2>Senior Developer for Primate</h2>
        <p>More responsibility for the overall development of projects. I'm currently work on an Edinburgh based startup called <a href="https://findr.me/" target="_blank">Findr</a>. My main focus is with Rails and React with Redux as well as liasing with the client on a weekly basis to keep the project on track.</p>
      </div>
    </li>

    <li>
      <time class="cbp_tmtime" datetime="2015"><span>2015</span> <span>Nov</span></time>
      <div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
      <div class="cbp_tmlabel">
        <h2>Junior Developer for Primate</h2>
        <p>Having worked as a freelancer, I was taken on full time primarily as a Rails developer but also had the chance to work on front end and Wordpress. I had responsibility for the backend work on the following: <a href="https://www.cruiselochness.com/" target="_blank">Cruise Loch Ness</a>, <a href="http://blog.floatapp.com/" target="_blank">Float Blog</a>, <a href="http://uk-careers.craneware.com/" target="_blank">Craneware UK Careers</a>, <a href="https://studentaccommodationuhi.co.uk/" target="_blank">Student Accommodation UHI</a> </p>
      </div>
    </li>

    <li>
      <time class="cbp_tmtime" datetime="2015"><span>2015</span> <span>Oct</span></time>
      <div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
      <div class="cbp_tmlabel">
        <h2>Freelance Work for Primate</h2>
        <p>Worked with <a href="http://primate.co.uk/" target="_blank">Primate</a> using LocomotiveCMS for Rails and worked with their designer and developers to create new pages built from design specs.</p>
      </div>
    </li>

    <li>
      <time class="cbp_tmtime" datetime="2015"><span>2015</span> <span>Aug</span></time>
      <div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
      <div class="cbp_tmlabel">
        <h2>Freelance Work for Katana Code</h2>
        <p>Worked with <a href="http://katanacode.com/" target="_blank">Katana Code</a> on a Rails project for one of their clients.  This involved creating a website to allow customers to log in securely to gain access to their information, view future events and make bookings.</p>
      </div>
    </li>

    <li>
      <time class="cbp_tmtime" datetime="2015"><span>2015</span> <span>Jul</span></time>
      <div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
      <div class="cbp_tmlabel">
        <h2>Tealeaf Academy Front End Foundations Course</h2>
        <p>My final project was a Todo application using my own MVC framework and utility library: <a href="https://todo-my-mvc.firebaseapp.com/" target="_blank">Todo MVC</a></p>
      </div>
    </li>

    <li>
      <time class="cbp_tmtime" datetime="2015"><span>2015</span> <span>May</span></time>
      <div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
      <div class="cbp_tmlabel">
        <h2>Tealeaf Academy</h2>
        <p>Finished the course and built my first production Rails application to create a web application for managing a babysitting circle: <a href="http://www.timeofftokens.com/" target="_blank">Time Off Tokens</a>. We also built a simple Reddit clone as our first Rails project and Netflix clone as the second project.</p>
      </div>
    </li>

    <li>
      <time class="cbp_tmtime" datetime="2014"><span>2014</span> <span>Dec</span></time>
      <div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
      <div class="cbp_tmlabel">
        <h2>Tealeaf Academy</h2>
        <p>Began work on this Ruby on Rails course. The initial part focused on learning Ruby and we built a simple web application using Sinatra.</p>
      </div>
    </li>

    <li>
      <time class="cbp_tmtime"  datetime="2015"><span>2014</span> <span>Nov</span></time>
      <div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
      <div class="cbp_tmlabel">
        <h2>Scottish Health Inequality</h2>
        <p>I wanted to gain experience with creating data visualisations based on data sets and decided upon D3.js to display health inequality in Scotland: <a href="http://scottish-health-inequality.herokuapp.com/" target="_blank">Scottish Health Inequality</a></p>
      </div>
    </li>

    <li>
      <time class="cbp_tmtime"  datetime="2015"><span>2014</span> <span>Oct</span></time>
      <div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
      <div class="cbp_tmlabel">
        <h2>Processing.js</h2>
        <p>I was having a play with processing.js and decided to apply it to a biomechanics screening I used at my clinic. Give it a second to load: <a href="https://links-form.firebaseapp.com/" target="_blank">Processing.js</a> The colored circles represent issues and the size shows the magnitude of the problem. The slider number represents each screening at the clinic. You can display the compensations curve to show how clients often have an initial zig zag compensation with the curve tending to the side with the largest issues in each area. I added some processing animation for fun to go through the sessions and show how the biomechanical issues gradually disappeared.</p>
      </div>
    </li>
  </ul>

  <br>

  <h2>Skills Summary</h2>

  <ul id="skills">
    <li><svg id="fillgauge1" width="100%"></svg>Ruby/Ruby on Rails</li>
    <li><svg id="fillgauge2" width="100%"></svg>HTML/CSS/SASS</li>
    <li><svg id="fillgauge3" width="100%"></svg>Javascript/jQuery</li>
    <li><svg id="fillgauge4" width="100%"></svg>React and Redux</li>
    <li><svg id="fillgauge5" width="100%"></svg>AWS</li>
  </ul>

  <br>

  <h2>Relevant Education and Courses</h2>

  <div class="triangle-border top">
    <h4>Edinburgh University: 1998 - 2002</h4>
    <ul>
      <li>Computer Science and Management Science, 2:1 (Hons)</li>
    </ul>

    <h4>Pragmatic Studio: 2014</h4>
    <ul>
      <li>Ruby Programming</li>
    </ul>

    <h4>Tealeaf Academy: 2014 - 2015</h4>
    <ul>
      <li>Introduction to Ruby and Web Development</li>
      <li>Rapid Prototyping With Ruby On Rails</li>
      <li>Building Robust And Production Quality Applications</li>
    </ul>
  </div>

  <br>

  <h2>Business Experience</h2>

  <div class="triangle-border top">
    <h4>Director of Move Freely Solutions: 2003 - 2015</h4>
    <ul>
      <li>Ran an Edinburgh based clinic that specialised in technology to improve spinal biomechanics. Other services included full biomechanics assessment, Sports Therapy and Massage Therapy.</li>

      <li>As well as clinical work, I undertook spinal biomechanics research with the University of Central Lancashire.</li>
    </ul>
  </div>

  <br>

  <h2>Hobbies And Interests</h2>

  <ul id="interests">
    <li><img src="../assets/img/bike.png" />Mountain Biking</li>
    <li><img src="../assets/img/racingflag.png" />Formula 1</li>
    <li><img src="../assets/img/ski.png" />Skiing</li>
    <li><img src="../assets/img/music.png" />Music</li>
  </ul>

  <br>

  <div class="postprofile">
      <img src="{{ site.author_image }}" class="author" alt="user">
      <div class="info">
        <h4>{{ site.author_name }}</h4>
        <p>{{ site.author_bio }}</p>
        <ul class="social">
          {% if site.twitter_url != '' %}
          <li><a href="{{ site.twitter_url }}" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
          {% endif %}
          {% if site.facebook_url != '' %}
          <li><a href="{{ site.facebook_url }}" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
          {% endif %}
          {% if site.github_url != '' %}
          <li><a href="{{ site.github_url }}" class="github" target="_blank"><i class="fa fa-github-alt"></i></a></li>
          {% endif %}
          {% if site.youtube_url != '' %}
          <li><a href="{{ site.youtube_url }}" class="youtube" target="_blank"><i class="fa fa-youtube"></i></a></li>
          {% endif %}
          {% if site.dribbble_url != '' %}
          <li><a href="{{ site.dribbble_url }}" class="dribbble" target="_blank"><i class="fa fa-dribbble"></i></a></li>
          {% endif %}
          {% if site.googleplus_url != '' %}
          <li><a href="{{ site.googleplus_url }}" class="googleplus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          {% endif %}
          {% if site.instagram_url != '' %}
          <li><a href="{{ site.instagram_url }}" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
          {% endif %}
          {% if site.pinterest_url != '' %}
          <li><a href="{{ site.pinterest_url }}" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
          {% endif %}
          {% if site.linkedin_url != '' %}
          <li><a href="{{ site.linkedin_url }}" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          {% endif %}
          <li><a href="{{ site.url }}/feed.xml" class="rss" target="_blank"><i class="fa fa-rss"></i></a></li>
        </ul>
        <ul class="social">
          <li><a class="contact"><i class="fa fa-phone"></i></a><span class="contact-details"> <a href="tel:07775682459">07775682459</a></span></li>
        </ul>
        <ul class="social">
          <li><a class="contact"><i class="fa fa-envelope-o"></i></a><span class="contact-details"> knoxjeffrey@outlook.com</span></li>
      </ul>
      </div>
  </div>

</section>
