---
layout: cv_default
---

<div class="profile {% if page.featured == true %} featured {% endif %}">
  {% if site.author_image != "" %}<img src="{{ site.author_image }}" class="profileimage" alt="user">{% endif %}
  <h4>{{ site.author_name }}</h4>
  <ul>
    {% if site.linkedin_url != '' %}
    <li><a href="{{ site.linkedin_url }}" class="smallsocialbutton linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    {% endif %}
    {% if site.twitter_url != '' %}
    <li><a href="{{ site.twitter_url }}" class="smallsocialbutton twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
    {% endif %}
    {% if site.facebook_url != '' %}
    <li><a href="{{ site.facebook_url }}" class="smallsocialbutton facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
    {% endif %}
    {% if site.github_url != '' %}
    <li><a href="{{ site.github_url }}" class="smallsocialbutton github" target="_blank"><i class="fa fa-github"></i></a></li>
    {% endif %}
    {% if site.instagram_url != '' %}
    <li><a href="{{ site.instagram_url }}" class="smallsocialbutton instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
    {% endif %}
    <li><a href="{{ site.url }}/feed.xml" class="smallsocialbutton rss" target="_blank"><i class="fa fa-rss"></i></a></li>
  </ul>
  <p>{{ site.author_bio }}</p>
  <hr>
  <ul>
  {% if site.phone != '' %}
    <li><a class="smallcontactbutton contact"><i class="fa fa-phone"></i></a><span class="contact-details">07775682459</span></li>
  {% endif %}
  {% if site.email != '' %}
    <li><a class="smallcontactbutton contact"><i class="fa fa-envelope-o"></i></a><span class="contact-details">knoxjeffrey@outlook.com</span></li>
  {% endif %}
  </ul>
</div>

<section class="posts postindex wrapper">
  <h2>Summary</h2>
  
  <div class="triangle-border top">
    <p>I have a degree in Computer and Management Science but upon finishing I had an opportunity to work with a new medical device for improving spinal biomechanics. I re-trained and ran my own clinic for 11 years and combined that with research work.</p>

    <p>I sold the clinic in February 2015 but had been working with several technologies and programming languages for a year at that point. My main foucs has been building web applications with Ruby on Rails as well as building front end interfaces with HTML, CSS, Javascript and jQuery.</p>
  </div>
  
  
  <h2>Projects</h2>
  
  <ul class="cbp_tmtimeline">
	<li>
      <time class="cbp_tmtime"><span>2015</span> <span>Jul</span></time>
      <div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
      <div class="cbp_tmlabel">
        <h2>Tealeaf Academy Front End Foundations Course</h2>
        <p>Todo application using my own MVC framework and utility library: <a href="http://development.todo-my-mvc.divshot.io/">Todo MVC</a></p>
      </div>
	</li>
  
	<li>
      <time class="cbp_tmtime"><span>2015</span> <span>Jun</span></time>
      <div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
      <div class="cbp_tmlabel">
        <h2>Logo design with Three.js</h2>
        <p>Logo animation using the canvas and WebGL: <a href="http://development.three-js-logo.divshot.io/">Three.js Logo</a></p>
      </div>
	</li>
    
	<li>
      <time class="cbp_tmtime"><span>2015</span> <span>Apr</span></time>
      <div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
      <div class="cbp_tmlabel">
        <h2>Time Off Tokens</h2>
        <p>My first production Rails application to create a web application for managing a babysitting circle: <a href="http://www.timeofftokens.com/">Time Off Tokens</a></p>
      </div>
	</li>
    
    <li>
      <time class="cbp_tmtime"><span>2015</span> <span>Mar</span></time>
      <div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
      <div class="cbp_tmlabel">
        <h2>MyFLiX</h2>
        <p>Final project for the third Tealeaf Academy course to build a Netflix clone using Rails: <a href="http://knoxjeffrey-myflix.herokuapp.com/">MyFLiX</a></p>
      </div>
	</li>
    
    <li>
      <time class="cbp_tmtime"><span>2015</span> <span>Feb</span></time>
      <div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
      <div class="cbp_tmlabel">
        <h2>CPD Boost</h2>
        <p>Final personal project for the second Tealeaf Academy course.  I chose to build a Rails site to allow healthcare practitioners to share treatment techniques from blog articles: <a href="http://cpd-boost.herokuapp.com/">CPD Boost</a></p>
      </div>
	</li>
    
    <li>
      <time class="cbp_tmtime"><span>2015</span> <span>Feb</span></time>
      <div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
      <div class="cbp_tmlabel">
        <h2>PostIt!</h2>
        <p>Final coursework project for the second Tealeaf Academy course to build a Reddit clone in Rails: <a href="http://knoxjeffrey-postit.herokuapp.com/">PostIt!</a></p>
      </div>
	</li>
    
    <li>
      <time class="cbp_tmtime"><span>2014</span> <span>Dec</span></time>
      <div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
      <div class="cbp_tmlabel">
        <h2>Blackjack World</h2>
        <p>Final coursework project for the first Tealeaf Academy course to build a simple blackjack application using Sinatra: <a href="http://knoxjeffrey-blackjack.herokuapp.com/">Blackjack World</a></p>
      </div>
	</li>
    
    <li>
      <time class="cbp_tmtime"><span>2014</span> <span>Nov</span></time>
      <div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
      <div class="cbp_tmlabel">
        <h2>Scottish Health Inequality</h2>
        <p>I wanted to gain experience with creating data visualisations based on data sets and decided upon D3.js to display health inequality in Scotland: <a href="http://scottish-health-inequality.herokuapp.com/">Scottish Health Inequality</a></p>
      </div>
	</li>
  </ul>
  
  <br>
  
  <h2>Skills Summary</h2>
  
  <ul id="skills">
    <li><svg id="fillgauge1" width="100%"></svg>Ruby</li>
    <li><svg id="fillgauge2" width="100%"></svg>Ruby on Rails</li>
    <li><svg id="fillgauge3" width="100%"></svg>HTML</li>
    <li><svg id="fillgauge4" width="100%"></svg>CSS</li>
    <li><svg id="fillgauge5" width="100%"></svg>Javascript</li>
    <li><svg id="fillgauge6" width="100%"></svg>jQuery</li>
    <li><svg id="fillgauge7" width="100%"></svg>Responsive Design</li>
    <li><svg id="fillgauge8" width="100%"></svg>GitHub</li>
    <li><svg id="fillgauge9" width="100%"></svg>Heroku</li>
  </ul>
  
  <br>
  
  <h2>Relevant Education and Courses</h2>
  
  <div class="regular-border">
    <h4>Edinburgh University: 1998 - 2002</h4>
    <ul>
      <li>Computer Science and Management Science, 2:1</li>
    </ul>
    
    <h4>Pragmatic Studio: 2014</h4>
    <ul>
      <li>Ruby Programming</li>
    </ul>
    
    <h4>Tealeaf Academy: 2014 - 2015</h4>
    <ul>
      <li>Introduction to Ruby and Web Development</li>
      <li>Rapid Prototyping With Ruby On Rails</li>
      <li>Building Robust And Production Quality Applications</li>
    </ul>
  </div>
  <br>
  
  <h2>Hobbies And Interests</h2>
  
  <ul id="interests">
    <li><img src="../assets/img/bike.png" />Mountain Biking</li>
    <li><img src="../assets/img/racingflags.png" />Formula 1</li>
    <li><img src="../assets/img/snow-flake.png" />Skiing</li>
    <li><img src="../assets/img/volume.png" />Music</li>
  </ul>
  
  <br>
  
  <div class="postprofile">
      <img src="{{ site.author_image }}" class="author" alt="user">
      <div class="info">
        <h4>{{ site.author_name }}</h4>
        <p>{{ site.author_bio }}</p>
        <ul class="social">
          {% if site.twitter_url != '' %}
          <li><a href="{{ site.twitter_url }}" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
          {% endif %}
          {% if site.facebook_url != '' %}
          <li><a href="{{ site.facebook_url }}" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
          {% endif %}
          {% if site.github_url != '' %}
          <li><a href="{{ site.github_url }}" class="github" target="_blank"><i class="fa fa-github-alt"></i></a></li>
          {% endif %}
          {% if site.youtube_url != '' %}
          <li><a href="{{ site.youtube_url }}" class="youtube" target="_blank"><i class="fa fa-youtube"></i></a></li>
          {% endif %}
          {% if site.dribbble_url != '' %}
          <li><a href="{{ site.dribbble_url }}" class="dribbble" target="_blank"><i class="fa fa-dribbble"></i></a></li>
          {% endif %}
          {% if site.googleplus_url != '' %}
          <li><a href="{{ site.googleplus_url }}" class="googleplus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          {% endif %}
          {% if site.instagram_url != '' %}
          <li><a href="{{ site.instagram_url }}" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
          {% endif %}
          {% if site.pinterest_url != '' %}
          <li><a href="{{ site.pinterest_url }}" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
          {% endif %}
          {% if site.linkedin_url != '' %}
          <li><a href="{{ site.linkedin_url }}" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          {% endif %}
          <li><a href="{{ site.url }}/feed.xml" class="rss" target="_blank"><i class="fa fa-rss"></i></a></li>
        </ul>
        <ul class="social">
          <li><a class="contact"><i class="fa fa-phone"></i></a><span class="contact-details"> <a href="tel:07775682459">07775682459</a></span></li>
        </ul>
        <ul class="social">
          <li><a class="contact"><i class="fa fa-envelope-o"></i></a><span class="contact-details"> knoxjeffrey@outlook.com</span></li>
      </ul>
      </div>
  </div>

</section>